{{> head }}

<body>
    {{> navbar }}

    <div class="row">
       <div class="col-8">
          <h1>About us!</h1>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum nemo provident eius, vero officiis aspernatur? Neque deserunt asperiores, delectus sed maiores cum aliquid omnis beatae cupiditate, repudiandae fuga eveniet?
          </p>
        </div>
       <div class="col-4">
         <img src="assets/img/1.png" class="img-thumbnail" alt="Imagen demo">
       </div>
    </div>

{{> footer }}